*{
    padding: 0px;
    margin: 0px;
}
.one{
    background-color:red;
    margin: 20px auto;
    border:20px solid orange;
    padding: 2px;
    height:100px;
    width:100px;
    box-sizing: border-box;
}

.two{
    background-color:blue;
}
